* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
    background: #262626;
    padding: 3px;
    text-align: center;
}

.inner_box {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: 0.5s;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: 0.5s;
    z-index: 10;
}

.inner_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: #262626;
    transition: 0.5s;
}

.inner_box::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: #262626;
    transition: 0.5s;
    z-index: 11;
}

.box:hover::before {
    left: 0;
}

.box:hover::after {
    right: 0;
}

.box:hover .inner_box::before {
    left: 0;
}

.box:hover .inner_box::after {
    right: 0;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 4em;
    color: #000;
    text-align: center;
    z-index: 100;
}

.box:hover h1 {
    color: #fff;
    transition: color 0.1s ease-in-out;
}
